go_server/go_server
go_movies/go_movies
go_books/cmd/main/main
mongo_go/mongo_go
go_postgres_stock/go_postgres_stock
go_postgres_stock/.env
go_email_verifier/go_email_verifier
go_slack_file/.env
go_slack_file/go_slack_file
go_slack_age/.env
go_slack_age/go_slack_age
